<h1>Job Recommendation Based on Personality</h1>

<%= form_tag(user_create_path, method: "post") do %>
    5 Words Best Describe Yourself <br>
    <%= text_field_tag(:description) %><br>
    <br>
    <%= submit_tag("Recommend Jobs") %>
<% end %>
